body{
    background-image: url(/pictures/wavy-dots.jpg);
}

.context{
    background: white;
    max-width: 1280px;
    flex-wrap: wrap;
}

p{
    font-size: 1.8em;
    width: 50%;
}

.why{
    float: right;
}

.pic{
   float: right;
    width: 50%;
}

.whole{
    width: 100%;
}